[Unit]
Description=Benchmark Scheduler Service
After=network.target

[Service]
Type=simple
User=bm-scheduler
WorkingDirectory=/home/bm-scheduler/bm-infra
ExecStart=/home/bm-scheduler/bm-infra/scripts/scheduler/hourly_run_wrapper.sh
EnvironmentFile=/etc/environment
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target