[Unit]
Description=Benchmark Agent Service
After=network.target
Requires=mnt-disks-persist.mount
After=mnt-disks-persist.mount

[Service]
Type=simple
User=bm-agent
WorkingDirectory=/home/bm-agent/bm-infra
ExecStart=/home/bm-agent/bm-infra/scripts/agent/agent_run.sh
Restart=on-failure
RestartSec=5s
EnvironmentFile=/etc/environment
StandardOutput=journal
StandardError=journal
KillSignal=SIGTERM
TimeoutStopSec=1800

[Install]
WantedBy=multi-user.target